
@{
    Layout = null;
}
<footer>
    <div class="container footer">
        <div class="row">
            <div class="col-sm-12">
                <p class="content-footer">
                    Cửa hàng điện thoại thế giới di động fake<br />
                    Số điện thoại: 123456789<br />
                    Địa chỉ: Somewhere in Vietnam<br />
                    Copyright &copy; - NguyenHoangTan
                </p>
            </div>
        </div>
    </div>
</footer>
