
@{
    Layout = null;
}

<header>
    <div class="container background">
        <div class="row">
            <div class="col-sm-12" style="background:black;">
                <img src="~/Content/Image/header-picture.png" class="img-responsive img-header"/>
            </div>
        </div>
    </div>
</header>
