
@{
    ViewBag.Title = "Trang chủ quản trị viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-sm-10 clear">
    <div class="content-body">
        @RenderPage("~/Views/Shared/_Logout.cshtml")
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Trang chủ employee</h2></div>
                <div class="panel-body">
                    <h4>Trang chủ employee với username = @Session["username"]</h4>
                </div>
                <div class="panel-footer">Trang index chỉ để coi cho vui!</div>
            </div>
        </div>
    </div>
</div>

