@{
    ViewBag.Title = "Trang chủ";
}
<div class="col-sm-10 clear">
    <div class="content-body">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Ứng dụng quản lý của hàng điện thoại</h2></div>
                <div class="panel-body">
                    <h4>- Đăng nhập để sử dụng chức năng của admin hoặc nhân viên.</h4>
                    <h4>- Tài khoản ADMIN: username - admin, password - admin.</h4>
                    <h4>- Tài khoản EMPLOYEE: username - employee, password - employee</h4>
                    <h4>- Sử dụng md5 để băm password nên có vào database coi cũng k đăng nhập được đâu!</h4>
                </div>
                <div class="panel-footer">Trang index chỉ để coi cho vui!</div>
            </div>
        </div>
    </div>
</div>
